/* 
 * Oasis v1.0
 */

// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import "compass/css3";
@import "includes/general";
@import "includes/navigation";
@import "includes/orbit";
@import "includes/team";
@import "includes/contact";
@import "includes/color";

.main-title {
  @include single-text-shadow;
}

#tagline {
  color: $secondary-dark;
  font-size: 2.2em;
}

#root a {
  @include box-shadow;
}

#learn-more, #how-it-works {
  background-color: $primary-dark;
  color: $primary-light;
}
#what-we-do, #learn-more, #how-it-works {
  strong {
    color: $primary-color;
  }
  span {
    color: $secondary-light;
  }
  ul {
    list-style-type: none;
    i {
      padding-right: 10px;
    }
  }
  #promise {
    font-size: 1.78em;
  }
}

#contact, #contact a {
  background-color: $secondary-dark;
  color: $primary-light; //tint($primary-light, 40);
}

.main-title span.color-1 {
  color: $primary-color;
  font-family: 'Crete Round', serif;
}

.main-title span.color-2 {
  color: $secondary-color;
  font-size: 1.3em;
  font-family: 'Devonshire', cursive;
}
#section {
  display: block;
  height: 100%;
  strong {
    color: $primary-color;
  }
}

.primary-color, h4.primary-color, h2.primary-color     { color: $primary-color; }
.secondary-color, h4.secondary-color, h2.secondary-color { color: $secondary-color; }
.alternate-color, h4.alternate-color, h2.alternate-color { color: $alternate-color; }
.primary-light, h4.primary-light, h2.primary-light   { color: $primary-light; }
.secondary-light, h4.secondary-light { color: $secondary-light; }
.alternate-light, h4.alternate-light { color: $alternate-light; }
.primary-dark, h4.primary-dark, h2.primary-dark    { color: $primary-dark;  }
.secondary-dark, h4.secondary-dark  { color: $secondary-dark; }
.alternate-dark, h4.alternate-dark  { color: $alternate-dark; }

h2.section-title.accent-font, h2.accent-font {
  font-family: $accent-font;
  font-size: 3em;
  font-weight: 100;
}

h2.headline-font {
  font-family: $headline-font;
}

h2.body-font {
  font-family: $body-font;
}

#mc_embed_signup {
  //background:#fff; 
  clear:left; 
  //font:14px Helvetica,Arial,sans-serif; 
}

// Sections

section p {
  font-size: 1.2em;
}

#contact {
  form {
    margin: 0;

    label {
      color: $primary-light; 
    }
  }
}

#learn-more {
  h2 {
    margin: 0;
    padding: 0;
    &#events-are-hard {
      font-family: $accent-font;
    }
    &#events-build-business{
      letter-spacing: 4.2px;

    }
    &#making-events-easy {
      font-size:2.8em;
      color: $secondary-light;
    }
  }
}

#what-we-do {
}
