
section#root {
  min-height: 400px !important;
  padding-top: 1em;
  padding-bottom: 1em;
}

section#root a.next-section-button { 
  margin-top: 4em;
}

h3.main-title {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 1em;
  font-size: 6em;
  margin-bottom: 0;
}

h4.main-subtitle {
  text-align: center;
  margin-bottom: 1.25em;
  margin-top: 0px;
}

a.next-section-button { 
  display: block;
  text-align: center;
  margin: 0 auto 1.25em auto;
  width: 180px;
}

#root { 
  background: #000 url('/images/banner.jpg') no-repeat center center;
}
