/* ==========================================================================
   Contact
   ========================================================================== */
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.contact {
	img {
		margin-bottom: emCalc(20px);
	}
}

.contact-info {
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
		margin-bottom: emCalc(10px);
		font-size: emCalc(32px);
	}
	i {
		display: inline-block;
		text-align: center;
		width: emCalc(24px);
		color: $primary-color;
	}
}

.warning {
	padding-left: emCalc(20px);
	color: #f00;
}
