/* ==========================================================================
   Orbit Slider
   ========================================================================== */

.orbit-container {
	img {
		min-height: 200px;
		width: auto;
	}

	&:hover {
		.orbit-prev,
		.orbit-next {
			display: block;
		}
	}

	.orbit-prev,
	.orbit-next {
		width: 30px;
		height: 30px;
		@include border-radius(1000px);
		display: none;
		> span {
			margin-top: -25px;
			border: none;
			text-indent: 0 !important;
		}
		> span:after {
			display: inline-block;
			font-family: FontAwesome;
			color: #fff;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
		}
	}

	.orbit-prev {
		margin-left: 20px;
		> span:after {
			content: "\f104";
		}
	}

	.orbit-next {
		margin-right: 20px;
		> span {
			margin-left: -15px;
		}
		> span:after {
			content: "\f105";
		}
	}
}

.orbit-slide-number {
	display: none;
}

.orbit-bullets {
	text-align:center;

	li {
		display: inline-block;
		width: 8px;
		height: 8px;
		background: #656565;
		float: none;
		margin-right: 6px;
		border: none;
		cursor: pointer;
    }
}

.headline {
	position: absolute;
	text-align: center;
	//width: $row-width - $column-gutter;
	display: none;
	&.left {
		text-align: left;
	}
	&.right {
		text-align: right;
	}
	h1, h2 {
		font-size: emCalc(56px);
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		letter-spacing: -0.05em;
	}

	h1, h2, h3, h4, h5, h6, p {
		color: #333;
	}
	p {
		font-size: emCalc(21px);
		@include single-text-shadow( 0, 0, 8px, false, rgba(0,0,0,0.5) );
	}

	&.light {
		h1, h2, h3, h4, h5, h6, p {
			color: #fff;
			@include single-text-shadow( 0, 0, 8px, false, rgba(0,0,0,0.5) );
		}
	}

	&.dark-on-light {
		h1, h2, h3, h4, h5, h6, p {
			color: #333;
			span {
				background: rgba(255,255,255,0.4);
				@include box-shadow(10px 0 0 rgba(255,255,255,0.4), -10px 0 0 rgba(255,255,255,0.4));
			}
		}
	}

	&.light-on-dark {
		h1, h2, h3, h4, h5, h6, p {
			color: #fff;
			span {
				background: rgba(0,0,0,0.4);
				@include box-shadow(10px 0 0 rgba(0,0,0,0.4), -10px 0 0 rgba(0,0,0,0.4));
			}
		}
	}
}